# ── SQL Server ───────────────────────────────────────────────────────────────
# SA_PASSWORD must have uppercase + lowercase + number + symbol and lenght >= 8 
MSSQL_SA_PASSWORD=YourStrong@Passw0rd
MSSQL_DB=facerecog

# ── Redis ────────────────────────────────────────────────────────────────────
REDIS_PASSWORD=changeme

# ── RabbitMQ ─────────────────────────────────────────────────────────────────
RABBITMQ_USER=appuser
RABBITMQ_PASSWORD=changeme

# ── Grafana ───────────────────────────────────────────────────────────────────
GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme
